.text-preset-1 {
  font-family: "Roboto", serif;
  font-size: 56px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .text-preset-1 {
    font-size: 40px;
  }
}

.text-preset-2-bold {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.text-preset-2 {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
}

.text-preset-3 {
  font-family: "Roboto", serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100dvw;
  background-color: #36384D;
}
@media (max-width: 768px) {
  body {
    display: flex;
    min-height: 100dvh;
  }
}
@media (min-width: 1280px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #242742;
}
.input input {
  border: 1px solid #949494;
  border-radius: 8px;
  height: 56px;
  padding: 16px 24px;
  outline: none;
}
.input input:focus {
  border: 1px solid #242742;
  color: #242742;
}
.input.error::after {
  content: "Valid email required";
  position: absolute;
  top: 0;
  right: 0;
  color: #FF6155;
  font-family: "Roboto", serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}
.input.error input {
  border: 1px solid #FF6155;
  background-color: rgba(255, 97, 85, 0.062745098);
  color: #FF6155;
}

.button {
  width: 100%;
  padding: 16px 0;
  border: unset;
  border-radius: 8px;
  background-color: #242742;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 1280px) {
  .button {
    background-color: linear-gradient(to right, #FF6A3A, #FF527B);
  }
  .button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #FF6A3A, #FF527B);
    box-shadow: 0 16px 32px rgba(255, 97, 85, 0.3137254902);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 64px;
  background-color: #FFFFFF;
}

article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #FFFFFF;
}
article > picture {
  width: 100%;
  max-height: 284px;
  object-fit: cover;
}
article > picture img {
  width: 100%;
  max-height: 284px;
  object-fit: cover;
  border-radius: 0 0 18px 18px;
}
article > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 24px 44px 24px;
}
article > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
article > div > div h1 {
  color: #242742;
}
article > div > div p {
  color: #242742;
}
article > div > div ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
article > div > div ul li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: #242742;
}
article > div form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  article {
    width: 100%;
    max-width: 608px;
    margin: auto;
    padding: 40px;
    border-radius: 36px;
  }
  article > picture {
    max-height: 358px;
  }
  article > picture img {
    max-height: 358px;
    border-radius: 16px;
  }
  article > div {
    padding: unset;
    gap: 24px;
  }
  article > div > form {
    gap: 16px;
  }
}
@media (min-width: 1280px) {
  article {
    flex-direction: row;
    align-items: center;
    gap: 64px;
    width: 100%;
    max-width: 904px;
    padding: 32px;
    margin: unset;
  }
  article > picture {
    order: 1;
    max-width: 400px;
    max-height: 593px;
  }
  article > picture img {
    max-width: 400px;
    max-height: 593px;
  }
  article > div {
    gap: 32px;
  }
  article > div > div {
    gap: 32px;
  }
  article > div > form {
    gap: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
