* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100dvw;
    background-color: $blue-700;

    @media (max-width: 768px) {
        display: flex;
        min-height: 100dvh;
    }
    
    @media (min-width: 1280px){
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100dvh;
    }
}