@import "./variables";
@import "./reset";
@import "./components";

article{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: $white;

    > picture{
        width: 100%;
        max-height: 284px;
        object-fit: cover;

        img{
            width: 100%;
            max-height: 284px;
            object-fit: cover;
            border-radius: 0 0 18px 18px;
        }
    }

    > div{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 24px 44px 24px;

        > div{
            display: flex;
            flex-direction: column;
            gap: 24px;

            h1{
                color: $blue-800;
            }

            p{
                color: $blue-800;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 8px;
                
                li{
                    display: flex;
                    align-items: flex-start;
                    gap: 16px;
                    color: $blue-800;
                }
            }
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    @media (min-width: 768px) {
        width: 100%;
        max-width: 608px;
        margin: auto;
        padding: 40px;
        border-radius: 36px;

        > picture{
            max-height: 358px;

            img{
                max-height: 358px;
                border-radius: 16px;
            }
        }

        > div{
            padding: unset;
            gap: 24px;

            > form{
                gap: 16px;
            }
        }
    }

    @media (min-width: 1280px){
        flex-direction: row;
        align-items: center;
        gap: 64px;
        width: 100%;
        max-width: 904px;
        padding: 32px;
        margin: unset;

        > picture{
            order: 1;
            max-width: 400px;
            max-height: 593px;

            img{
                max-width: 400px;
                max-height: 593px;
            }
        }

        > div{
            gap: 32px;

            > div{
                gap: 32px;
            }

            > form{
                gap: 24px;
            }
        }
    }
}